*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
