$font-family: 'Yanone Kaffeesatz', sans-serif;

$primary-color: #fe7345;
$text-dark-color: #494a4b;
$text-light-color: #fff;

$container-bgc: #f2f2f2;
$body-bgc: linear-gradient(to right, #ffafbd, #ffc3a0);

$mobile-width: 600px;
$tablet-width: 1024px;
